*.o
*.hi
*.txt
*.pdf
lists1
test6
systemInterOp
Lyndon
ngon
backwards/backwards
learnyouahaskell/output9
zippers/tree
Electronics/VSWR
Electronics/resonanceP
Pascal
SinR
Vowel2
anonFunc
backwards/singleWord
bikegears1
bikegears2
celestrak1
conduit1
cosh1
doubleTest
errors
formatting
hs-flush
json1
learnyouahaskell/capslocker
learnyouahaskell/facebook2
learnyouahaskell/guards
learnyouahaskell/output5
	learnyouahaskell/output8a
	learnyouahaskell/outputB
	listComprehension1
	listTest1
	maps
	nestedLoops
	nestedLoops1
	nestedLoops2
	nestedLoops3
	nestedLoops4
	recursion1
	signals
	spawning
	strings
	test2
	test4
	timeStuff
	timeStuff2
	timer2
	timers
	url
	vowel
	xmas

